*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    background-color: rgb(6, 2, 29);
    width:100vw;
    height:100vh;
}

main{
    display:flex;
}

header{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    padding:15px;
}

nav{
    display:flex;
    background-color:rgb(27, 17, 87) ;
    width: 200px;
    height: 100vh;
    border-radius: 8px;
    margin-left: 5px;
}

section {
    display:flex;
    color:white;
    flex-wrap: wrap;
    width: 100%;
}

section#informacoes {

}

form{
    align-items: flex-start;
    flex: 1 1 500px;

    background-color: blanchedalmond;
}

table{
    flex: 1 1 50%; 
    min-width: 0; 
    border-collapse: collapse;
}
th, td {
  border: 1px solid white; /* Linha preta fina em todos os lados */
  padding: 12px; /* Espaçamento interno para o texto não tocar na linha */
  text-align: left; /* Alinha o texto à esquerda */
}




@media screen and (min-width:768px) and (max-width:992px){

}
@media screen and (min-width:992px){

}