@charset "UTF-8";

* { 
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    background-image: linear-gradient(to right, #12dbb6, #046b5f);
}

main {
    background-color: #fff;
    padding: 20px;
    width: 700px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 15px #03443d;
}

h1{
    color:blueviolet
}

h2{
    color:blueviolet
}

p{
    text-indent: 20px;
    text-align: justify;
    color:black
}

div{
    background-color: #e4e9e8;
    width: 300px;
    height: 300px;
    display: inline-block;
    border: 1px solid #000;
}

div:hover{
    background-color: #e7eb06;
}

a:visited{
    color:blueviolet;
}

a.:hover{
    color:rgb(0, 0, 0);
    text-decoration: underline;
}

a:active{
    color:rgb(185, 106, 1);
}

a::after{
    content: " (link externo)";
}
a::before{
    content: "🔗";
}